@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(117, 172, 213);
}
.container{
    align-items: center;
    justify-content: center;
    display: grid;
    border-radius: 5px;
    background: white;
    margin: auto;
    width: 25%;
    padding: 16px;
    min-height: 70vh;
    margin-top: 50px;
    
    
}
h1{
    font-family: sans-serif;;
    text-align: start;
}
input[type = 'text'],
input[type='password']{
width: 100%;
padding: 10px;
margin: 5px 0 22px 0;
display: inline-block;
border-radius: 5px; 
font-weight: bold;
}
button{
    border-radius: 6px;
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
input[type='checkbox']{
    text-align: end;
}
button:hover{
    background: rgb(16, 145, 197);
}
p{
    margin-top: 15px;
    text-align: right;
    margin-bottom: 15px;
    cursor: pointer;
}
span{
    color: crimson;
    cursor: pointer;
}

